:target{
    scroll-margin-top: 150px;
}

#quick-links{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    right: 10px;
    top: 70px;
    z-index: 1;
}

#quick-links button{
    border: solid 1px transparent;
    background-color: #3b3355;
    border-radius: 16px;
    width: 100%;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    color: #F7FFF7;
    cursor: pointer;
}

#quick-links button:hover {
    border: solid 1px #F7FFF7;
}

#quick-links.active button{
    border-radius: 16px 16px 0px 0px;
    border-bottom: solid 1px #F7FFF7;
}

#quick-links .links {
    display: none;
    flex-direction: column;
    background-color: #3b3355;
    padding: 5px;
    border-radius: 0 0 16px 16px;
}

#quick-links.active .links {
    display: flex;
}

#quick-links .links a{
    text-align: center;
    font-size: 0.9em;
    border: none;
    border-left: solid 2px transparent;
    transition: background-color 0.1s ease;
    padding: 0 5px;
}

#quick-links .links a:hover{
    border: none;
    border-left: solid 2px;
}


.job-entry{
    background-color: transparent;
}

.job-title {
    position: sticky;
    background-color: #5D5D81;
    /* top: 75px; */
    top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* padding-top: 5px; */
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: solid 2px #F7FFF7;
}

.job-title .logo{
    border-radius: 8px;
    width: 4em;
    height: 4em;
}

.logo.jd{
    background-color: #367C2B;
    border: solid #FFD700 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #FFD700;
    text-align: center;
    align-content: center;
}

.logo.jd::after{
    content: "John Deere";
}

.logo.loras{
    background-color: #4B306A;
    border: solid #D4AF37 3px;
    text-align: center;
    align-content: center;
    font-family: 'Georgia', serif;
    color: #D4AF37;
}

.logo.loras::after{
    content: "Loras College";
}

.job-title h2{
    font-size: 2em;
}

.job-content .date{
    padding-top: 10px;
    font-style: italic;
}

.job-content{
    padding-left: 20px;
    padding-right: 20px;
}

.logo-container {
    width: 250px;
    height: 150px;
    background-color: #4B306A; /* Loras College Purple */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
