#main-intro {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

#intro-img {
    border-radius: 15px;
    max-width: 400px;
    width: auto;
    height: auto;
    /* mask-image: url("./Assets/Home/EraseUnveiling.gif");
    mask-mode: auto; */
}

#intro-text {
    width: 75%;
    height: auto;
    font-size: 4em;
    font-weight: bold;
    padding-left: 30px;
    min-width: 50%;
    padding-bottom: 10px;
    filter: invert(100%) brightness(200%) contrast(150%);
}

.page-card {
    opacity: 1;
    transition: opacity 0.2s;
    padding: 2px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
    border: solid 1px transparent;
    border-radius: 100px;
    transition: background-color 0.1s ease-in-out;
    background-color: #2A233E;
    width: 50%;
    text-align: center;
}

.page-card:hover {
    background-color: #3b3355b2;
    border: solid 1px transparent;
}

.page-card p {
    color: #F7FFF7;
    font-size: 1.4em;
    line-height: 1.5em;
    cursor: pointer;
}

.hidden{
    opacity: 0;
    transition: opacity 0s ease;
}

@media screen and (max-width: 1024px) {
    #main-intro{
        flex-direction: column-reverse;
        align-content: center;
    }

    #intro-content{
        align-items: center;
    }

    #intro-text{
        padding-left: 0;
    }

    .page-card{
        margin-left: 0;
    }
}