#main-intro {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}

#intro-img {
    border-radius: 15px;
    max-width: 400px;
    width: auto;
    height: auto;
}

#intro-text {
    font-size: 4em;
    font-weight: bold;
    padding-left: 15px;
    min-width: 50%;
}

.page-card {
    opacity: 1;
    transition: opacity 0.2s;
}

.page-card a {
    color: #F7FFF7;
    font-size: 1.4em;
    padding: 5px;
    border-radius: 8px;
    line-height: 2em;
    border: none;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.page-card a:hover {
    background-color: #3b3355b2;
}

.hidden{
    opacity: 0;
    transition: opacity 0s ease;
}

@media screen and (max-width: 320px) {
    #main-intro{
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    #main-intro{
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #main-intro{
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #main-intro{
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
}