/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5D5D81;
    color: #F7FFF7;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    font-size: 12pt;  /* The only place I should have a pt value */
}

a {
    /* color: #FFFF99; */
    /* color: #FFD700; */
    color: #FFCC33;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: border-bottom-color 0.1s ease;
}

a:hover{
    border-bottom-color: #FFCC33;
}

a.external-link::after {
    content: '↗';
}

/* Adding top padding to main content to avoid overlap with fixed navbar */
main {
    padding-top: 75px;
    max-width: 1000px;
    flex-grow: 1;
}

section {
    margin-bottom: 40px;
}

main h1{
    font-size: 5.3em;
}


#email-btn{
    position: fixed;
    color: #F7FFF7;
    scale: 1.1;
    bottom: 30px;
    z-index: 1000;
    right: 30px;
    background-color: #3b3355;
    padding: 10px;
    border-radius: 100px;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
}
#email-btn:hover::after{
    content: 'Email me!';
    border: none;
}

.img-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    /* overflow-x: auto; */
}

.img-and-desc {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-color: transparent;
}

.img-and-desc iframe,
.img-and-desc video,
.img-and-desc img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 200px;
    height: 100%;
    width: auto;
}

.img-and-desc p{
    color: #F7FFF7;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    padding: 0 10px 0 10px;
}

.img-and-desc:hover{
    border-color: transparent;
}

@media screen and (max-width: 320px) {
    body{
        /* background-color: red; */
        font-size: 10pt;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    body{
        /* background-color: pink; */
        font-size: 10pt;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        /* background-color: orange; */
        font-size: 12pt;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 700px){
    .img-group{
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body{
        /* background-color: rgb(129, 129, 5); */
        font-size: 14pt;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    body{
        /* background-color: green; */
        font-size: 14pt;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    body{
        /* background-color: purple; */
        font-size: 14pt;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    body{
        /* background-color: blue; */
        font-size: 14pt;
        margin-left: 0px;
        margin-right: 0px;
    }
}