.navbar {
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

#home-btn{
    height: 100%;
    width: auto;
    max-height: 64px;
}
#home-btn img{
    margin-top: 20%;
    height: 3em;
    width: auto;
    filter: invert(100%) brightness(200%) contrast(150%);
}

#nav-container{
    width: 100%;
    background-color: var(--accent-background);
    box-shadow: 0 4px 4px var(--shadow-color);
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px;
}

#nav-links ul {
    list-style: none;
    display: flex;
    align-content: center;
}

#nav-links ul li {
    display: flex;
    align-content: center;
}

#nav-container a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;

    padding-left: 10px;
    padding-right: 10px;

    border-color: transparent;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

#nav-container a:hover {
    /* color: #F7E2B3 ; */
    background-color: var(--hover-button-color);
}

#nav-container a.selected{
    border-color: rgba(var(--text-color), 0.3);
}

#nav-menu-btn {
    display: none;

    color: var(--text-color);
    background: none;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    
    border-color: transparent;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    
    transition: font-size 0.2s, rotate 0.2s;
}

#icons a{
    position: relative;
}

#icons img{
    width: 25px;
    height: 25px;
    display: block;
}

#home-btn{
    text-decoration: none;
    position: absolute;
    left: 0;
    text-align: center;
    align-self: center;
}

#extra-nav-btns{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    /* Mobile layout for #nav-container */
    #nav-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 14px; 
    }

    #nav-menu-btn {
        display: block;
    }

    #nav-menu-btn:hover {
        background-color: var(--hover-button-color);
    }

    #nav-menu-btn.active {
        rotate: 90deg;
    }

    #nav-links {
        display: none;
    }

    #nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #nav-links ul {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    #nav-links ul li {
        display: flex;
        padding: 8px 0;
        justify-content: flex-end;
    }
}

