.horizontal-layout {
    display: flex;
    margin: 10px 10px 0px 10px;
}

.scrollbox {
    width: 100%;
    overflow-y: auto;
    max-height: 500px;
    margin-left: 10px;
}

#board{
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: gray; */
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.group{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px, solid, black;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cell{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60px;
    height: 60px;
    border: 2px, solid, black;
    text-align: center;
    align-content: center;

    transition: background-color 0.1s ease-in-out;
}

.cell.highlight{
    background-color: #FFFF99;
}

.candidate{
    color: black;
    font-weight: light;
    font-size: 0.5rem;
}

.cell-value{
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    align-content: center;
}

#board :nth-child(odd).group{
    background-color: rgb(142, 142, 142);
}
#board :nth-child(even).group{
    background-color: lightgray;
}

#solver {
    margin: 20px auto;
    margin-top: 0;
    text-align: left;
    max-width: 500px;
    box-shadow: 0 2px 4px var(--shadow-color);
}

table#solver {
    width: 100%;
    border-collapse: collapse;
}

#solver th, #solver td {
    border: 1px solid var(--accent-background);
    padding: 8px;
}

#solver th {
    background-color: var(--accent-background);
    text-align: left;
}

#solver td {
    text-align: left;
}

#solver tr:not(:first-child){
    background-color: var(--accent-background);
    transition: background-color 0.1s ease-in-out;
}

#solver tr:not(:first-child).selected {
    background-color: #FFA07A;
}

#solver tr:not(:first-child):hover{
    border: 2px solid #FFFF99;
}